:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #f2dac3;
    --main-gray: #303841;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  /* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */
  
  /* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */
  
  /* 1200px / 16px = 75em */
    /* 980px / 16px = 61.25em */  
  /* 460px / 16px = 28.75em */
  
  /* Base styles */
  a:hover{
    text-decoration: none !important;
    color: var(--main-gray) !important;
  }
  body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }
  
  h1,
  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4.2rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem !important;
    padding: 0;
    margin: 0;
  }
    
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  
  /* Welcome section */
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-blue);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    color: var(--main-red);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .welcome-section > h2 {
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    color: black;
  }

  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 8rem 2rem;
    background-image: linear-gradient(var(--main-blue),#566189);;
  }
  
  .projects-section-header {
    max-width: 1000px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.2rem solid var(--main-gray);
    color: var(--main-red);
    font-weight: lighter;
    font-size: 3.75rem;
  }
  .click {
    margin-bottom: 20px;
    color: var(--main-gray);
  }
  /* "Automagic" image grid using no media queries */
  .card {
    position: relative;
    width: 70%;
    height: 60vh;
    margin:3rem 9rem ;
    padding: 0%;
  }
  .col-sm-6 {
    padding: 0%;
    margin-right: 0rem;
  }
  .card:hover {
    background-color: rgba(230, 204, 204, 0.4);
    box-shadow: 1px 1px 2px rgba(230, 204, 204, 0.4);
    border-radius: 2px;
  }
  .card-title {
    color: var(--main-gray);
    text-decoration: none;
  }
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
    background: var(--main-red);
  }
  
  .contact-section-header > h2 {
    font-size: 4.5rem;
  }
  .contact-section-header > p {
    font-style: italic;
    padding-top: 1em;
    font-size: 2.7rem;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 0.7rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  .copywrite {
    margin-top: 10px;
  }
  @media(max-width:700px) {
    h2 {
      font-size: 3rem !important;
    }
    .welcome-section p {
      font-size: 2rem !important;
    }
    .projects-section-header {
      font-size: 2rem !important;
    }
    .welcome-section {
      height: 45vh !important;
      margin-top: 8rem !important;
    }
    .contact-section {
      height: 30vh;
      padding: 0;
      margin: 0;
      margin-top: auto !important;
    }
    .contact-section-header > h2 {
      font-size: 2rem !important;
    }
    .contact-section-header > p {
      font-size: 1.5rem;
    }
    #profile-link {
      font-size: 1.5rem !important;
    }
    .project-image {
      height: 20vh !important;
    }
    .card {
      height: 26vh;
      width: 70%;
      margin-left: 5rem;
    }
  }
  @media(max-width:1100px) {
    h2 {
      font-size: 4rem !important;
    }
    .welcome-section p {
      font-size: 3rem !important;
    }
    .projects-section-header {
      font-size: 3rem !important;
    }
    .welcome-section {
      height: 50vh !important;
      margin-top: 7rem !important;
    }
    .contact-section {
      height: 30vh;
      padding: 0;
      margin: 0;
      margin-top: auto !important;
    }
    .contact-section-header > h2 {
      font-size: 3rem !important;
    }
    .contact-section-header > p {
      font-size: 2rem;
    }
    #profile-link {
      font-size: 2rem !important;
    }
    .project-image {
      height: 30vh !important;
    }
    .card {
      height: 35vh;
      width: 80%;
      margin-left: 7rem;
    }
  }